html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-x: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 800;
  margin: 5px;
  border-radius: 3px;
}
.navv {
  position: sticky;
  top: 0;
}

.navbar-dark {
  background-color: black !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  background-color: red;
  text-shadow: 0px 2px 4px black;
}

.yoyo img {
  width: 100%;
  height: 60vh;
}

.siderH1 {
  color: blue;
  font-family: cursive;
}

.slider__div {
  width: 100%;
  margin: auto;
  background-color: #eca3f5;
  min-height: 100vh;
  overflow-x: hidden;
}

.card img {
  height: 40vh;
}

.yashh a:hover {
  transform: scale(1.1);
  cursor: pointer;
  text-shadow: 2px 4px 2px white;
}
.yashh a {
  color: white;
  text-decoration: none;
}

.about {
  width: 40%;
  margin: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  bottom: -150px;
  padding: 15px;
  border-radius: 5px;
}

.about h1 {
  text-align: center;
  text-shadow: 2px 2px 2px red;
}

.about p {
  font-weight: 700;
  font-size: 1.2rem;
}

.contact {
  width: 70%;
  margin: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  bottom: -50px;
  padding: 15px;
  border-radius: 5px;
}
#contact {
  text-align: center;
  text-shadow: 2px 2px 2px red;
}

.contact p {
  font-weight: 700;
  font-size: 1.2rem;
  position: relative;
  bottom: -50px;
  right: -20px;
}

.icon {
  background-color: green;
  color: white;
  padding: 3px;
  width: 20px;
  border-radius: 100%;
}

.gridd {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.order {
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 10px 20px rgba(8, 112, 184, 0.7);
  border-radius: 3px;
}
.order__content {
  width: 60%;
}

.order__img {
  width: 15%;
}
.btnnn {
  margin-left: 200px;
}
@media screen and (max-width: 480px) {
  .order {
    flex-direction: column;
    padding: 5px;
  }
  .order__content {
    width: 95%;
  }
  .order__img {
    width: 50%;
    margin: auto;
  }
  .emptybaket__msg {
    margin-top: 100px;
  }
  .btnnn {
    margin-left: 44px;
  }
  .about {
    width: 80%;
  }
  iframe {
    width: 220px;
    height: 150px;
    margin-top: 50px;
  }
}
.emptybaket__msg {
  width: 80%;
  margin: auto;
  margin-top: 200px;
  color: black;
  text-shadow: 1px 1px 1px red;
}

.empty__div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin__order {
  box-shadow: 0 10px 20px rgba(8, 112, 184, 0.7);
  border-radius: 3px;
  background-color: lightblue;
  color: black;
  width: 80%;
  margin: auto;
  padding: 20px;
}

.admin__order h5 {
  font-size: 20px;
}

.admin__order .cardd {
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

.cardd h6 {
  text-align: center;
}

.cardd p {
  width: 80%;
  margin: auto;
}

.cardd div {
  width: 60%;
  margin: auto;
}
#price {
  font-weight: 700;
}

li {
  cursor: pointer;
}
